.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.home__image {
  max-width: 100vw;
  z-index: -1;
  margin-bottom: -300px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.home__row {
  display: grid;
  z-index: 1;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px;
  margin: 20px;
}

@media screen and (max-width: 992px) {
  .home__image {
    margin-bottom: -250px;
  }
}

@media screen and (max-width: 992px) {
  .home__image {
    margin-bottom: -150px;
  }
}

@media screen and (max-width: 600px) {
  .home__image {
    margin-bottom: -100px;
  }
}
